
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap');


main{
    width: 1321px;
    margin: 0 auto;
    font-family: 'Cormorant SC', serif;
}

/* header style start  */

.container{
    margin-top: 5rem;
   display: flex;
   background-color: black;
   padding: 15px 45px;
   /* width: 100%; */
   height: 600px;
   border-radius: 30px

}
.header-text{
    margin-top: 5em;
    color: white;
}
.header-text a{
    text-decoration: none;
    color: white;
    background-color: salmon;
    padding: 15px 25px;
    font-weight: 600;
    font-size: 18px;
}

.headline{
    font-size: 50px;
}
.headline-summary{
    
   font-size: 18px;
   width: 60%;
   margin-bottom: 4rem;
}

.header-image{
    margin-top: 5em;
}

/* section part style start  */


/* section part container-1 whole style start   */

.whole-section{
    display: flex;
    /* padding-right: 5%; */
    margin-top: 7rem;
    margin-bottom: 7rem;
 }

 #whole-match-section{
    gap: 4rem;
}

.boxes{
    /* display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 30px; */
    background-color: black;
    border-radius: 20px;   
     width: 312px;
   
}

.box{
    
    padding: 50px 50px;
    text-align: center;
}


.box a{
    
   text-decoration: none;
   color: black;
}

#blog{
    font-weight: bold;
    background-color: salmon;
    padding: 10px 30px;
    /* min-width: 100%; */
   
}

#upcoming{
    font-weight: bold;
    padding: 10px 30px;
    /* min-width: 100%; */
}

#All-group{
    padding: 10px 30px;
    /* min-width: 100%; */
    background-color:lightgray;
    font-weight: bold;
}


/* section part container-1 whole style end  */

/* section part container-2 whole style start  */


.container-2{
    padding: 10px 20px;
    /* width: 100%; */
    
}
.blogs{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
   

}

.blog{
    max-width: 100%;
    box-shadow: 0 0 15px lightgray;
    padding: 10px 20px;
}

.blog img{
    
    margin-bottom: 2rem;
}

/* index files continer-2 style start  */
.transfer{
    text-decoration: none;
    border: 1px solid black;
    padding: 5px 15px;
}

.transer-detail{
    font-weight: bold;
    font-size: 24px;
}
.blog-duration{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* index files continer-2 style start  */


/* upcoming match files container-2 style start  */

.image{
    display: flex;
    justify-content: space-around;
    margin-top: 3.5em;

}

.match-details{
    text-align: center;
    font-size: 24px;
    font-weight: bold; 
}
.match-time{
    text-align: center;
    font-size: 19.5px;
}



/* upcoming match files container-2 style start  */


/* section part container-2 whole style end  */


/* view All css start  */


h2{
    text-align: center;
    font-size: 40px;
    display: none;
}

/* view All css end  */



/* footer style start  */
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 90px ;
    height: 444px;
    width: 100%;
}
.goal{
   margin-bottom: 2rem;
   padding-bottom: 40px;
   font-size: 56px;
}
.info{
    margin-top: 5.5rem;
    display: flex;
    justify-content: space-evenly;
}
#hr{
    width: 80%;
}
 
.info a{
    text-decoration: none;
    color: aliceblue;
}
.social-media-link{
    margin-top: 5rem;
}

.social-media-link a{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    margin-right: 2em;

}

/* footer style emd  */

/* responsive style start  */

@media only screen and (max-width:576px) {
    main{
        width: 376px;
        margin: 0 auto;
        font-family: 'Cormorant SC', serif;
    }
    .container{
       display:block;
       justify-items: center;
       text-align: center;
       background-color: black;
       margin-right: 4em;
       
       width: 100%;
       height: 920px;
      
    
    }
    .headline-summary{
    
        font-size: 18px;
        width: 100%;
        margin-bottom: 4rem;
     }
     .header-image img{
        width: 110%;
        margin-top: 4rem;
    }

    /* ------------------------ */

    .whole-section{
        display:block;
        /* padding-right: 5%; */
        margin-top: 7rem;
        margin-bottom: 7rem;
     }
     .boxes{
        
        background-color: white;
        margin-left: 44px;
        margin-top: -4rem;
        
    }

    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* ------------------------ */

    footer{
        height: 700px;
    }

    .info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 2em
    }
    .social-media-link {
        /* width: 50%;
        margin: 0 auto;
        margin-right: 1rem; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


 